@charset "utf-8";


//div id="sub_cover"の中のafterからコピペ

#sub_cover{
    padding: 40px 0;
    background-image: url(../images/news/sub_cover@2x.jpg);
    background-size: cover;
        
    @media (min-width: 550px){
        padding: 80px 0;
    }
    
    h2{
    text-align: center;
    color: white;
    font-size: 1.6rem;
    font-weight: bold;
    margin: 0;
    letter-spacing: 0.2rem;
    
        @media (min-width: 550px){
            font-size: 32px;
            font-size: 3.2rem;
        }
    
    }
    
    #contents #main h2{
        color: #42b9d0;
        border-bottom: 3px solid #42b9d0;
        font-size: 1.5rem;
        font-weight: bold;
        padding-bottom: 15px;
    }
}